.table-wrapper {
  max-height: 300px; /* Adjust this value as needed */
  overflow-y: auto;
  margin: 20px;
}

/* .container {
  display: flex;
  flex-direction: row;
}

.leave {
  display: flex;
  flex-direction: column;
} */

.leaveform{
  margin-left: 280px;
}

.leaveHistory{
  margin-left: 380px;
}

