.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginform {
  background-color: cyan;
  padding: 50px;
}

.submitBtn {
  background-color: green;
  color: white;
}
