.status {
  display: flex;
  border: 2px solid grey;
  padding: 20px;
  height: auto;
  width: 600px;
  box-sizing: border-box;
  /* border-radius: 8px; */
  background-color: #f9f9f9;
}

.statusContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputField {
  margin-bottom: 15px;
}

.inputField label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputField input {
  width: calc(100% - 10px);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.infoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.day {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.box {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  margin-right: 10px;
  border-radius: 3px;
}

.violet {
  background-color: rgb(191, 130, 238);
}

.red {
  background-color: red;
}

.darkGreen {
  background-color: green;
}

.green {
  background-color: greenyellow;
}

.sky {
  background-color: skyblue;
}

.blue {
  background-color: blue;
}

.dayName {
  font-size: 14px;
}
